<section class="invoice-setup">
  <form
    id="invoiceSetupForm"
    name="invoiceSetupForm"
    ng-submit="Ctrl.createInvoice(invoiceSetupForm)">
    <h3>Create Invoice</h3>
    <div class="form-group">
      <label for="invoicedPerson">Email to Send Invoice To:</label>
      <input 
        type="text"
        name="invoicedPerson"
        id="invoicedPerson"
        ng-model="Ctrl.invoicedPerson"
        required
        class="form-control">
      <div
        ng-if="invoiceSetupForm.invoicedPerson.$touched"
        ng-messages="invoiceSetupForm.invoicedPerson.$error"
        class="invalid-messages">
        <!-- Required -->
        <div
          ng-message="required"
          class="invalid-message">
          Required *
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="invoicedAmount">Amount to Invoice</label>
      <input 
        type="number"
        name="invoicedAmount"
        id="invoicedAmount"
        ng-model="Ctrl.invoicedAmount"
        placeholder="10.00"
        required
        class="form-control">
      <div
        ng-if="invoiceSetupForm.invoicedAmount.$touched"
        ng-messages="invoiceSetupForm.invoicedAmount.$error"
        class="invalid-messages">
        <!-- Required -->
        <div
          ng-message="required"
          class="invalid-message">
          Required *
        </div>
      </div>
    </div>
    <button
      ng-disabled="invoiceSetupForm.$invalid"
      type="submit"
      class="btn btn-default">Submit Invoice</button>
  </form>
</section>
