<section class="invoice-setup">
  <div
    ng-if="Ctrl.showAmountFormatError"
    class="alert alert-warning" role="alert">
    Please make sure that the amount is a number.
  </div>
  <div class="panel panel-default invoice-setup-box">
    <div class="panel-heading">
      <h3>Create Invoice</h3>
    </div>
    <div class="panel-body">
      <form
        id="invoiceSetupForm"
        name="invoiceSetupForm"
        ng-submit="Ctrl.createInvoice(invoiceSetupForm)">
        <div class="form-group">
          <label for="invoicedPerson">Email to Send Invoice To:</label>
          <input 
            type="text"
            name="invoicedPerson"
            id="invoicedPerson"
            ng-model="Ctrl.invoicedPerson"
            placeholder="bob@example.com"
            required
            class="form-control">
          <div
            ng-if="invoiceSetupForm.invoicedPerson.$touched"
            ng-messages="invoiceSetupForm.invoicedPerson.$error"
            class="invalid-messages">
            <!-- Required -->
            <div
              ng-message="required"
              class="invalid-message text-danger">
              Required *
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="invoicedAmount">Amount to Invoice</label>
          <input 
            type="text"
            name="invoicedAmount"
            id="invoicedAmount"
            ng-model="Ctrl.invoicedAmount"
            placeholder="10.00"
            required
            class="form-control">
          <div
            ng-if="invoiceSetupForm.invoicedAmount.$touched"
            ng-messages="invoiceSetupForm.invoicedAmount.$error"
            class="invalid-messages">
            <!-- Required -->
            <div
              ng-message="required"
              class="invalid-message text-danger">
              Required *
            </div>
          </div>
        </div>
        <button
          ng-disabled="invoiceSetupForm.$invalid"
          type="submit"
          class="btn btn-primary btn-default">Submit Invoice</button>
      </form>
    </div>
  </div>
</section>
